.fontcenter,.fontcenter_peng{
    text-align: center;
    font-size: 28px;
    margin-bototm: 0;
}
.fontcenter_peng{
    text-align: center;
    font-size: 14px;
    color: #cccccc;
    line-height: 1px;
}
.business_maxicon{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: auto;
}
.business_minicon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
}
.business_maxicon>img,.business_minicon>img{
    width: 100%;
    height: 100%;
}
.business_title,.business_syn{
    max-width: 300px;
    text-align: center;
    margin: auto;
}
.business_title{
    font-size: 18px;
    color: #000000;
    margin: 30px auto;
}
.business_syn{
    text-align: left;
    font-size: 14px;
    color: #999999;
}
.business_maxbox{
    margin: 50px auto;
}
.business_minbox{
    margin: 30px auto;
}
.border-bottom{
    width: 50px;
    height: 1px;
    background: #cccccc;
    margin:auto;
}
.xsh_about{
    width: 100%;
    height: auto;
    margin: auto;
    font-size: 14px;
    color: #555555;
    line-height: 34px;
    padding: 50px 0;
    border-bottom: 1px solid #cccccc;
}
.xsh_about_syncon{
    width: 70%;
    margin: 20px auto;
    border: 3px solid #e8eaee;
    padding: 15px 50px;
    background: url("/images/leftdouhao.png") no-repeat left top,url("/images/rightdouhao.png") no-repeat right bottom;
}
@media screen and (max-width: 750px){
    .xsh_about{
        line-height: 20px;
    }
    .xsh_about_syncon{
        width: 100%;
        margin: 20px auto;
        border: 0 solid #e8eaee;
        padding: 15px 20px;
        background: url("/images/leftdouhao.png") no-repeat left top,url("/images/rightdouhao.png") no-repeat right bottom;
    }
}
.xsh_jobbox{
    margin: 10px 0 20px;
}
.xsh_job{
    background: #ffffff;
    box-shadow: -4px 5px 30px #cccccc
}
.jobbar{
    font-size: 18px;
    width: 100%;
    height: 40px;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    background: #88c028;
}
.jobdesc{
    width: 100%;
    height: 600px;
    padding: 20px 10px;
    overflow: hidden;
}
#joinus{
    background: #fafbff;
    margin-top: 10px;
    margin-bottom: 50px;
}
.corporate_name{
    font-weight: 900;
    text-align: center;
}
.corporate_syn{
    padding: 20px 0;
    border-bottom: 2px solid #f0f0f0;
    color: #999999;
}
#contact{
    background: #ffffff;
}