body {
    position: relative;
}

#carousel {
    padding-top:50px;
    height:auto;
    color: #333;
    background-color: #ffffff;
    position: relative;
}
#business {
    padding-top:50px;
    margin-top:-50px;
    height:1000px;
    color: #333;
    background-color: #f2f4f6;
    position: relative;
    z-index: -4;
}
#about {
    padding-top:50px;
    margin-top:-50px;
    height:auto;
    color: #333;
    background-color: #ffffff;
    position: relative;
    z-index: -1;
}
#joinus {
    padding-top:50px;
    margin-top: -50px;
    height:auto;
    color: #333;
    background-color: #f2f4f6;
    position: relative;
    z-index: -2;
}
#contact {
    padding-top:50px;
    margin-top: -50px;
    height:auto;
    color: #333;
    background-color: #ffffff;
    position: relative;
    z-index: -3;
}

#about p {
    /*text-indent: 30px;*/
    margin-bottom: 8px;
}

#hehe-nav {
    font-size: 18px;
}

.carousel-control {
    height: 80px;
    width: 40px;
    left: 15px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);

    border: 0;
    z-index: 10;
    top:40%;
    font-weight: 100;

    line-height: 30px;
    background: #222222;

    background-color: transparent;
}

.carousel img {
    width: auto;
    height: 500px;
}

/*---------------业务能力-----------------*/

.img-box {
    display: block;
    width: 300px;
    height: 300px;
    clear: both;
    background-color: white;
    text-align: center;
    border: 1px solid #e7e7eb;
    float: left;
}

.img-box img {
    display: block;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin: 30px 99px;
}

.img-box>span {
    display: block;
    text-align: center;
    padding: 5px -10px;
    font-size: 16px;
}

.img-box span+span {
    color: #8d8d8d;
    padding: 8px 10px;
    font-size: 16px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {
    .carousel-inner>.item>img {
        height: 500px;
    }
}


@media (max-width: 767px) {
    .carousel-inner>.item>img {
        height: 300px;
    }

}
