body {
    position: relative;
}

#carousel {
    padding-top:50px;
    height:auto;
    color: #333;
    background-color: #ffffff;
    position: relative;
}
#business {
    padding-top:50px;
    margin-top:-50px;
    height: auto;
    color: #333;
    background-color: #ffffff;
    position: relative;
    z-index: -1;
    padding-bottom: 20px;
}
#about {
    padding-top:50px;
    margin-top:-50px;
    height:auto;
    color: #333;
    background-color: #f2f4f6;
    position: relative;
    z-index: -2;
}
#joinus {
    padding-top:50px;
    margin-top: -50px;
    height:auto;
    color: #333;
    background-color: #ffffff;
    position: relative;
    z-index: -3;
}
#contact {
    padding-top:50px;
    margin-top: -50px;
    height:auto;
    color: #333;
    background-color: #f2f4f6;
    position: relative;
    z-index: -4;
}

#about p {
    /*text-indent: 30px;*/
    margin-bottom: 8px;
}

#hehe-nav {
    font-size: 18px;
}

.carousel-control {
    height: 80px;
    width: 40px;
    left: 15px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);

    border: 0;
    z-index: 10;
    top:40%;
    font-weight: 100;

    line-height: 30px;
    background: #222222;
    background-color: transparent;
}

.carousel img {
    width: auto;
    height: 500px;
}

/*---------------业务能力-----------------*/

.img-box {
    display: block;
    width: 300px;
    height: 300px;
    background-color: white;
    text-align: center;
    border: 1px solid #e7e7eb;
    margin: 10px;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;

}

.img-box img {
    display: block;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin: 30px 99px;
}

.img-box>span {
    display: block;
    text-align: center;
    padding: 5px -10px;
    font-size: 16px;
}

.img-box span+span {
    color: #8d8d8d;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: normal;
}

#business_sep {
    clear: both;
}

#business hr {
    border-color: #b2b2b2;
    border-style: dashed;
}

/*------------------------加入我们------------------------*/
h1+h4 {
    color: #999999;
    font-size: 20px;
}

.joblist {
    width: 600px;
    height: 520px;
    float: left;
    margin: 15px;
    background-color: #f3f3f3;
}

.joblist>.jobbar {
    background-color: #ff404d;
    height:55px;
    width: auto;

    position: relative;
    padding: 12px 10px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.joblist>.jobbar>div {
    width: 35px;
    float: left;
}

.joblist>div .icon-bar {
    background-color: #fff;
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 1px;
    margin-top: 4px;
}

.joblist>div .jobtitle {
    color: white;
    font-size: 20px;
    display: inline;
    margin: auto 10px;

}

.joblist .jobdesc {
    padding: 5px 15px;
}

.joblist .jobdesc p {
    font-size: 16px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 0px) {

    .carousel-inner>.item>img {
        height: 300px;
    }

    #business {
        padding-left: 0px;
        padding-right: 0px;
    }

    .img-box {
        margin: 10px auto;
        float: none;
    }
}

@media (min-width: 768px) {
    .carousel-inner>.item>img {
        height: 500px;
    }

    #business {
        padding-left: 15px;
        padding-right: 15px;
    }

    .img-box {
        margin: 10px;
        float: left;
    }

}

@media (min-width: 992px) {
    .carousel-inner>.item>img {
        height: auto;
    }
}

@media (min-width: 1200px) {

}
